<h1>Reyna Testing Website!</h1>
<form>
  {% for question in question_list %}
    <div>
      <h3>{{ question.question_text }}</h3>
      {% for choice in question.choices %}
      <label for="choice_{{ choice.pk }}">{{ choice.choice_text }}</label>
      <input id="choice_{{ choice.pk }}" type="radio" name="question_{{ question.pk }}" value="{{ choice.choice_text }}">
      {% endfor %}
    </div>
  {% endfor %}
  <input type="submit" value="submit">
</form>
{# vim: set ft=htmldjango ts=2 sw=2 et : #}
